<app-user-details [user]="selectedUser$ | async"></app-user-details>

<div class="back-button-wrap">
  <button class="app-button" (click)="goBack()">Back to Users</button>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let todo of (todoList$ | async)" app-user-todo-row [todo]="todo" [ngClass]="todo.completed ? 'completed' : 'in-progress'">
    </tr>
  </thead>
</table>
