<td class="title">{{ todo.title }}</td>
<td class="text-center status">{{ status }}</td>
<td class="text-center"><button class="app-button toggle-button" (click)="changeStatus()">{{buttonLabel}}</button></td>
