.user-wrap {
  display: flex;
  cursor: pointer;
  box-shadow: var(--app-box-shadow);
  padding: 15px;
  flex-direction: column;
}

.user-icon {
  text-align: center;

  img {
    max-height: inherit;
    max-width: 85px;
  }
}

.user-details-wrap {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.top-section {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--app-gray);
  .user-name {
    margin: 0;
  }
}

.bottom-section {
  padding-top: 10px;

  .user-data-wrap{
    width: 100%;
    word-wrap: break-all;
  }

  .user-data-wrap:first-child{
    position: relative;
  }

  .user-data-label {
    padding-right: 5px;
    font-weight: 600;
  }
}
