<div *ngIf="user" class="user-wrap" (click)="selectUser()">
  <div class="user-icon">
    <img src="/assets/icons/circle-user-solid.svg">
  </div>
  <div class="user-details-wrap">
    <div class="top-section">
      <h1 class="user-name">
        {{user.name}}
      </h1>
    </div>
    <div class="bottom-section">
      <div class="user-data-wrap">
        <span class="user-data-label">Email:</span>
        <span class="user-data email">{{user.email}}</span>
      </div>
      <div class="user-data-wrap">
        <span class="user-data-label">Phone NO:</span>
        <span class="user-data phone">{{user.phone}}</span>
      </div>
    </div>
  </div>
</div>
