nav {
  background: var(--app-theme);
  color: var(--app-white);
  padding: 15px 30px;
}

.nav-content,
.page-content {
  max-width: var(--app-max-width);
  margin: 0 auto;
  padding: 15px 30px;
}

.loader{
  position: fixed;
  width: 100%;
  height: 100%;
  background: var(--app-loading-bg);
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--app-white);
  top: 0;
  bottom: 0;
}
