<nav>
  <div class="nav-content">
    <h1 class="tool-bar">
      TODO App
    </h1>
  </div>
</nav>
<section class="page-content">
  <div class="loader" *ngIf="(isLoading$ | async)">
    Loading...
  </div>
  <div *ngIf="error$ | async as error ">
    {{error}}
  </div>
  <router-outlet></router-outlet>
</section>

