/* You can add global styles to this file, and also import other style files */
:root{
  --app-gray: #ddd;
  --app-max-width: 1024px;
  --app-theme: #1976d2;
  --app-white: white;
  --app-font-color: #333;
  --app-box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  --app-box-shadow-hover: 0 1px 3px rgb(17 83 207 / 76%), 0 1px 2px rgb(4 39 85 / 81%);
  --app-success: #04AA6D;
  --app-in-progress: #d8d808b5;
  --app-loading-bg: #00000061;
}
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  color: var(--app-font-color);
}

button.app-button {
  padding: 10px 15px;
  border: none;
  background: var(--app-theme);
  color: var(--app-white);
  cursor: pointer;
  border: 1px solid var(--app-theme);

  &:hover {
    background: var(--app-white);
    color: var(--app-theme);
  }
}
